<header class="header">
    <div class="container head-container">
        <nav class="head-nav-container">
            <a href="./index.html" class="head-logo link">Simply <span class="head-logo-span">Chocolate</span>
                <span>
                    <svg class="head-logo-svg">
                        <use href="./images/icons.svg#bitten-chocolate"></use>
                    </svg>
                </span>
            </a>
            <ul class="head-nav-links list">
                <li><a href="./index.html" class="link head-nav-link">Home</a></li>
                <li><a href="#How-its-made" class="link head-nav-link">How it's made?</a></li>
                <li><a href="#Our-products" class="link head-nav-link">Our products</a></li>
                <li><a href="#Top-sellers" class="link head-nav-link">Top sellers</a></li>
                <li><a href="#Chocolate-is-loved" class="link head-nav-link">Chocolate is loved</a></li>
            </ul>
        </nav>
        <div class="head-sm-container">
            <ul class="list head-sm-links">
                <li>
                    <a href="#" class="link head-sm-link">
                        <svg class="head-sm-svg">
                            <use href="./images/icons.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#" class="link head-sm-link">
                        <svg class="head-sm-svg">
                            <use href="./images/icons.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <button class="js-open-menu" type="button">
            <svg class="head-hamburger">
                <use href="./images/icons.svg#menu-toggle"></use>
            </svg>
        </button>
    </div>
</header>