<!------------- MENU TOGGLE ------------->
<div class="head-mobile-menu js-menu-container" id="mobile-menu">
    <button type="button" class="js-close-menu head-modal-button">
        <svg width="28" height="28" class="head-x">
            <use href="./images/icons.svg#x-close"></use>
        </svg>
    </button>
    <nav class="head-nav-container-mobile">
        <ul class="head-nav-mob-links list">
            <li><a href="./index.html" class="link head-mob-nav-link">Home</a></li>
            <li><a href="#How-its-made" class="link head-mob-nav-link">How it's made?</a></li>
            <li><a href="#Our-products" class="link head-mob-nav-link">Our products</a></li>
            <li><a href="#Top-sellers" class="link head-mob-nav-link">Top sellers</a></li>
            <li><a href="#Chocolate-is-loved" class="link head-mob-nav-link">Chocolate is loved</a></li>
        </ul>
    </nav>
    <div class="head-sm-container-mobile">
        <ul class="list head-sm-links-mobile">
            <li>
                <a href="#" class="link head-mob-sm-link">
                    <svg width="22" height="22" class="head-sm-svg-mobile">
                        <use href="./images/icons.svg#instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="link head-mob-sm-link">
                    <svg width="20" height="20" class="head-sm-svg-mobile">
                        <use href="./images/icons.svg#twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>