.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-nav-container {
    display: flex;
    align-items: center;
}

.head-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--DARK);
    font-style: italic;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.42px;
    text-transform: uppercase;
}

.head-logo-span {
    font-style: normal;
}

.head-logo-svg {
    width: 21px;
    height: 21px;
}

.head-sm-svg {
    width: 24px;
    height: 24px;
}

/* =============mobile menu============= */

.head-modal-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
}

.head-nav-container-mobile {
    margin-top: 136px;
    margin-left: 50px;
    margin-bottom: auto;
}

.head-nav-mob-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.head-mob-nav-link {
    color: var(--WHITE);
    font-weight: 500;
    line-height: 1.14;
}

.head-mob-nav-link:focus {
    color: var(--ACCENT);
}
.head-sm-svg-mobile {
    fill: var(--WHITE);
}
.head-mob-sm-link:focus .head-sm-svg-mobile {
    fill: var(--ACCENT);
}

.head-sm-links,
.head-sm-links-mobile {
    display: flex;
    gap: 18px;
}

.js-open-menu {
    border: none;
    background-color: transparent;
}

.js-menu-container {
    background-color: var(--DARK-BKG);
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    width: 220px;
    height: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
}

.js-menu-container.is-open {
    transform: translateX(0);
}

.head-x {
    fill: var(--WHITE);
}
.js-open-menu:focus .head-x {
    fill: var(--ACCENT);
}

/* ========== MOBILE ========== */
@media screen and (max-width: 767px) {
    .head-hamburger {
        width: 28px;
        height: 28px;
    }
    .js-open-menu:focus .head-hamburger {
        fill: var(--ACCENT);
        color: var(--ACCENT);
    }  
    .head-container {
        padding-top: 20px;
        padding-bottom: 14px;
    }

    .head-sm-container-mobile {
        margin-left: 20px;
        margin-bottom: 20px;
    }
}

/* ========== TABLET ========== */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .head-container {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .head-hamburger,
    .head-x {
        width: 32px;
        height: 32px;
    }

    .head-modal-button {
        top: 24px;
        right: 32px;
    }

    .head-sm-container-mobile {
        margin-left: 32px;
        margin-bottom: 24px;
    }

    .head-sm-svg-mobile {
        width: 24px;
        height: 24px;
    }

    .js-menu-container {
        width: 290px;
    }
}

/* ========== NON DESKTOP ========== */
@media screen and (max-width: 1199px) {
    .head-nav-links {
        display: none;
    }

    .head-sm-container {
        display: none;
    }
}

/* ========== DESKTOP ========== */
@media screen and (min-width: 1200px) {

    .js-open-menu {
        display: none;
    }

    .head-mobile-menu {
        display: none;
    }

    .head-container {
        padding-top: 24px;
        padding-bottom: 32px;
    }

    .head-logo {
        margin-right: 188px;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.54px;
    }

    .head-logo-svg {
        width: 24px;
        height: 24px;
    }

    .head-nav-links {
        display: flex;
        gap: 24px;
    }

    .head-nav-links .link {
        color: var(--DARK);
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: -0.28px;
    }

    .head-nav-link:hover,
    .head-nav-link:focus {
        color: var(--ACCENT);
    }

    .sm-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    .head-sm-link:hover .head-sm-svg,
    .head-sm-link:focus .head-sm-svg {
        fill: var(--ACCENT);
    }
}