/* oprócz klasy .reviews pozostałe style rozpoczynają się od .rev- */
.rev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow: hidden;
    margin-bottom: 128px;
}
.rev-slide-container {
    position: relative;
    width: 100%;
}
.rev-slide-content {
    width: 100%;
}
.rev-item {
    position: relative;
	top: 0;
	left: 0;
	display: flex;
    flex-direction: column;
	flex-shrink: 0;
	width: 280px;
	height: 200px;
	margin-top: 42px;
    padding: 56px 18px 42px;
    background-color: var(--WHITE);
    border: 1px solid rgba(17, 17, 17, 0.10);
    border-radius: 15px;
    text-align: center;
}
.rev-item-image {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}
.rev-item-name {
    display: block;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; 
}
.rev-slide-pagination.swiper-pagination-rev {
    position: relative;
    height: 20px;
    /* background-color: yellow; */
}
.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    margin: 0 7px;
    color: rgba(17, 17, 17, 0.10);
    border-radius: 7px;
}
.swiper-pagination-bullet-active {
    width: 28px;
    background-color: var(--ACCENT);
}
.rev-btn-leave {
    height: 41px;
	padding: 0 28px;
	border-radius: 100px;
}
@media screen and (min-width: 375px) {
    .rev-item {
        width: 335px;
        padding: 56px 16px 42px;
    }
}
@media screen and (min-width: 768px) {
    .rev-item {
        width: 344px;
        padding: 56px 16px 42px;
    } 
    .rev-btn-leave {
        height: 50px;
	    padding: 0 40px;
    }
}
@media screen and (min-width: 1200px) {
    .rev-container {
        padding: 0 32px;
    }
    .rev-slide-wrapper {
        gap: 28px;
    }
    .rev-item {
        width: 360px;
        padding: 56px 24px 42px;
    } 
}