.top-container {
    margin-bottom: 72px;
}
.top-title {
    margin-bottom: 32px;
}
.top-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-images {
    width: 100%;
    flex-shrink: 0;
    border-radius: 15px;
    margin-bottom: 20px;
}
.top-paragraph {
    width: 100%;
    margin-bottom: 32px;
}
.top-last-photo {
    display: none;
}
.top-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-button {
    height: 41px;
    padding: 12px 28px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}
@media screen and (min-width: 375px) {
    .top-images {
        width: 335px;
    }
    .top-paragraph {
        width: 306px;
    }
}
@media screen and (min-width: 768px) {
    .top-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .top-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
    }
    .top-paragraph {
        margin-top: 32px;
    }
    .top-li:first-child {
        margin-right: 16px;
    }
    .top-content-div {
        position: relative;
        display: inline-block;
        align-items: center;
        justify-content: center;
    }
    .top-button {
        position: absolute;
        right: 0px;
        bottom: 68px;
        height: 50px;
        padding: 14px 40px;
        font-size: 18px;
    }
    .top-images {
        width: 344px;
        height: 464px;
    }
}
@media screen and (min-width: 1200px) {
    .top-container {
        margin-bottom: 128px;
    }
    .top-images {
        width: 368px;
        height: 464px;
    }
    .top-last-photo {
        display: block;
    }
    .top-list {
        gap: 16px;
    }
    .top-li:first-child {
        margin-right: 0px;
    }
    .top-button {
        position: absolute;
        right: 0px;
        bottom: 55px;
    }
    .top-content-div {
        padding-bottom: 104px;
    }
    .top-paragraph {
        position: absolute;
        width: 407px;
    }
}